html, body {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: none;
}

ul, li {
	list-style-type: none;
}

body {
	width: 800px;
	overflow: auto;
	min-height: 101%;
	margin: 0 auto;
	font: 16px "Times New Roman", serif;
	color: #666;
	margin-top:20px;
  	background: url(/images/body_gray3.png) repeat-x 0px 0px;
	background-size: 10px 100%;
}

a{
color: inherit;
text-decoration:none;
}
.menu{
margin-top: 40px;
float: right;
list-style: none;
margin-right: 15px;
}

.menu li{
float: left;
padding: 0 20px;
font-weight: bold;
}

.selected{
background-color: #E2DBDB;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

}
.header{
	background-color:white;
	height: 75px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 16px;

	border: 1px solid #676C6D;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.header img{
	margin: 15px 0 0 15px;
	width: 180px;
}

.content{
	background-color:white;
	border: 1px solid #676C6D;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-height: 50%;
	margin: 5px;
	margin-top: 10px;
	overflow: auto;
}
.sub_menu{
	width:200px;
	float: left;
	padding 50px;
}

.submenu_selected a{
background-color: #E2DBDB;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

.sub_menu ul{
	padding-left: 30px;
	line-height:20px;
	font-weight: bold;
}

.sub_menu a{ padding: 0 10px 0 10px;}

.sub_content_titles{ whidth: 100%;}

.sub_content_title h1{
	text-align: right;
margin: 0px;
	padding-right: 10px; 
	border-bottom: 1px solid #676C6D;
}

.sub_content{
	width:560px;
	float: right;
	padding: 10px;
}

.Hinnakiri {margin-left:35px;}
.Hinnakiri li{list-style:disc;}
.Hinnakiri ul{padding:0;}

.Kontakt ul{ 
	padding: 0 0 0 20px;
}

.email label{
	overflow:auto;
	display: block;
	padding: 0 0 0 20px;
	line-height: 25px;
}

.email textarea {
	resize: none;
}

.email { margin-top: 20px;}
.email textarea{
	width: 300px;
	height: 150px;
	float: right;
	margin-right: 125px;
	margin-top: 5px;	
}

.email input{
	width: 200px;
	float: right;
	margin-right: 225px;	
}

#emailButton{
	width: 100px;
	float: left;
	margin: 25px 0 0 130px;
}

.Inimesed{
	margin-top: 20px;
}

.people{
	display: block;
	height: 150px;
	margin-bottom: 15px;
}

.people_content{
	margin-left: 150px;
}

.people_content ul{
	margin: 0;
}

.people img{
	float: left;
	margin-left: 20px;
	height: 150px;
}

.footer {
margin-top: 10px;
}

.footer .right{
float: right;
margin: 2px;
margin-right:12px;
font: 12px Georgia, "Times New Roman", serif;
}

.footer .left{
float: left;
margin: 2px;
margin-left:12px;
font: 12px Georgia, "Times New Roman", serif;
}
