<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ site.name }}</title>
	<link rel="stylesheet" href="/css/default.css" type="text/css">
</head><body>

<ul class=menu>
	<li{% if page.title == "Firmast" %} class=selected{% endif %}><a href="/">Firmast</a></li>
	{% for x in site.menu %}
		<li{% if page.title == x %} class=selected{% endif %}><a href="/{{ x }}/">{{ x }}</a></li>
	{% endfor %}
</ul>

<div class=header>
</div>

<div class=content>
{{ content }}
</div>

<div class=footer>
	<div class=left>Nv System OÜ  Tallinn  tel +3725072525  info@nvsystem.ee</div>
	<div class=right>©Copyright 2013 Viimati uuendatud {{ site.time | date_to_long_string }}</div>
</div>

</body>
</html>
