<!DOCTYPE html>
<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{ site.name }}</title>
	<link rel="stylesheet" href="/css/default.css" type="text/css">
	{% for js in page.javascript %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
</head><body>

<ul class=menu>
	<li{% if page.my_tag == "Firmast" %} class=selected{% endif %}><a href="/">Firmast</a></li>{% for x in site.menu %}
	<li{% if page.my_tag == x %} class=selected{% endif %}><a href="/{{ x }}/">{{ x }}</a></li>{% endfor %}
</ul>

<div class=header>
	<h1>NV System LOGO</h1>
</div>

<div class=content> 
	{{ content }} 
</div>

<div class=footer>
	<div class=left>Nv System OÜ  Tallinn  tel +3725072525  info@nvsystem.ee</div>
	<div class=right>©Copyright 2013    Last updated {{ site.time | date_to_long_string }}</div>
</div>

</body>
</html>
